h1 {
  text-align: center;
}

body {
  background-color: rgb(226, 242, 248);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#display-image-container img {
  margin-top: 20px;
  max-height: 500px;
  max-width: 500px;

}

#comments-list {
  list-style-type: none;
}

#map {
  border: thin solid black;
  height: 700px;
  width: 1000px;
}
